<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<style>
  /* 사이드바 래퍼 스타일 */

  #training{
    pointer-events: none;
    cursor: default;
  }

  #page-wrapper {
    padding-left: 250px;
    margin-top:58px;
    width:102%;
    margin-left:-1%
  }
  
  #sidebar-wrapper {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    background: #000;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  #page-content-wrapper {
    width: 100%;
    padding: 20px;
  }
  /* 사이드바 스타일 */
  
  .sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    padding-right: 25px;
    text-align: center;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
  }
  
  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
  }

  #footer{
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
	text-align: center;
  color: gray;
  font-size: 12px;
  margin-left: 130px;
}

#search{
  margin-left: 15px;
  padding-bottom: 15px;
}
.pagination{
  margin-left: 585px;
}

</style>
</head>
<body>
    <% include ../partials/header %>
<main>   
<div id="page-wrapper">
  <!-- 사이드바 -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#" id=training>Training</a>
      </li>
      <li><a href="/training/all/1">전체</a></li>
      <li><a href="/training/advanced/1">고급</a></li>
      <li><a href="/training/intermediate/1">중급</a></li>
      <li><a href="/training/basic/1">초급</a></li>
    </ul>
  </div>
  <!-- /사이드바 -->

  <!-- 본문 -->
  <div id="page-content-wrapper">
    <form class="form-inline my-2 my-lg-0" style="user-select: auto;" id="search">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" style="user-select: auto;">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="user-select: auto;">Search</button>
      </form>
    <div class="container-fluid">
        <table class="table table-hover" style="user-select: auto;" id="table">
            <thead style="user-select: auto;">
              <tr style="user-select: auto;">
                <th scope="col" style="user-select: auto;">Video</th>
                <th scope="col" style="user-select: auto;">카테고리</th>
                <th scope="col" style="user-select: auto;">제목</th>
                <th scope="col" style="user-select: auto;">시작버튼</th>
              </tr>
            </thead>
            <tbody style="user-select: auto;">
              <% for(var i=0; i<model.trainlist.length; i++){ %>
              <tr style="user-select: auto;" id="onetraining">
                <th scope="row" style="user-select: auto;"> <a href='/training/<%=model.trainlist[i].train_cate%>/<%=model.currentPage%>/<%=model.trainlist[i].train_no%>/detail'>
                  <img src="<%=model.trainlist[i].train_url%>" width="400" height="250"></a>
                </th>
                <td style="user-select: auto;"class="content"><%=model.trainlist[i].train_cate%></td>
                <td style="user-select: auto;"class="content"><%=model.trainlist[i].train_title%></td>
                <td style="user-select: auto;"class="content"><button>시작하기</button></td>
              </tr>
              <% } %>
            </tbody>
          </table>
    </div>
  </div>


  <div style="user-select: auto;">
    <ul class="pagination" style="user-select: auto;">
        <li class="page-item disabled" style="user-select: auto;">
          <a class="page-link" href="#" style="user-select: auto;">&laquo;</a>
        </li>
        <% for(var i =1 ; i <= model.lastPage; i ++ ){ %>
            <li class="page-item" style="user-select: auto;">
              <a class="page-link" href="/training/all/<%=i%>" style="user-select: auto;"><%=i%></a>
           <% } %>
      <li class="page-item" style="user-select: auto;">
        <a class="page-link" href="#" style="user-select: auto;">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
</main>

<% include ../partials/footer %>
</body>

</html>
